.container {
  height: 100vh;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
}
.userContainer {
  margin: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  width: 30%;
  background-color: lightcyan;
}
.chatContainer {
  margin: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  width: 60%;
  background-color: lightgrey;
}
.chatRoomContainer {
  margin: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  width: 30%;
  background-color: lightgreen;
}
